---
import ClientDarkModeSlider from "../client/ClientDarkModeSlider.vue";
---

<section class="w-full flex items-center justify-center mt-20">
  <div
    class="flex flex-col items-center gap-8 w-full max-w-6xl mt-20 px-8 pb-32"
  >
    <ClientDarkModeSlider client:visible />
  </div>
</section>
