---
import Layout from "../layouts/Layout.astro";
import HomePageLayout from "../layouts/HomePageLayout.astro";
import ProyectsGrid from "../components/ProyectsGrid.astro";
---

<Layout
  title="Soy Fer"
  subtitle="Full Stack Engineer"
  mainParagraph="8 años de experiencia desarrollando productos digitales"
  showMe
>
  <h3
    class="text-3xl text-center font-bold flex flex-col text-gray-800 dark:text-gray-200"
  >
    Mi trabajo
  </h3>
  <ProyectsGrid />
</Layout>
