---
import Card from "./Card.astro";
---

<section
  class="grid max-w-screen-xl m-auto w-full grid-cols-[repeat(25,1fr)] gap-4 *:bg-gray-200"
>
  <Card
    class="col-start-1 col-end-[26] md:col-end-11"
    title="Hola"
    subtitle="Adios"
    role="Product Engineer"
    subject="Minderest Web App"
    imgSrc="https://www.minderest.com/themes/penguin/src/assets/images/competitor-price-monitoring/Competitor-price-tracking.png"
    href="12"
  />
  <Card
    class="col-start-1 col-end-[26] md:col-start-11"
    title="Hola"
    subtitle="Adios"
    role="Lead Engineer"
    subject="Minderest InSite for Chrome"
    imgSrc="https://www.minderest.com/themes/penguin/src/assets/images/insite/In-Site-price-tracking-extension-chrome-firefox-browser.png"
    href="12"
  />

  <Card
    class="col-start-1 col-end-[26] md:col-end-[15]"
    title="Hola"
    subtitle="Adios"
    role="Lead UX Engineer"
    subject="Minderest Website"
    imgSrc="https://www.minderest.com/themes/penguin/src/assets/images/product-minderest/Minderest-pricing-tool.png"
    href="12"
  />

  <Card
    class="col-start-1 col-end-[26] md:col-start-[15] md:col-end-[26]"
    title="Hola"
    subtitle="Adios"
    role="Lead Engineer"
    subject="Minderest Competitive Environment"
    imgSrc="https://www.minderest.com/themes/penguin/src/assets/images/competitive-environment/Competitive-environment-comparative-products-tracking.png"
    href="12"
  />
  <Card
    class="col-start-1 col-end-[26]"
    title="Hola"
    subtitle="Adios"
    role="Software Engineer"
    subject="MsInvs for iOS, Android and Web"
    imgSrc="https://play-lh.googleusercontent.com/pIe6tH4BFc-TUoJYP3h2R0El9eWmGXv_qfPX_LFC9JqZ_buThtYmbdMef_XvFuTUTFw=w5120-h2880-rw"
    href="12"
  />
  <Card
    class="col-start-1 col-end-[26] md:col-end-11"
    title="Hola"
    subtitle="Adios"
    role="Full Stack Engineer"
    subject="Club Trecera"
    imgSrc="https://www.minderest.com/themes/penguin/src/assets/images/competitor-price-monitoring/Competitor-price-tracking.png"
    href="12"
  />
  <Card
    class="col-start-1 col-end-[26] md:col-start-11"
    title="Hola"
    subtitle="Adios"
    role="UX Engineer"
    subject="pacosarabia.com"
    imgSrc="https://www.minderest.com/themes/penguin/src/assets/images/insite/In-Site-price-tracking-extension-chrome-firefox-browser.png"
    href="12"
  />
</section>
