.post-title {
    view-transition-name: post-title;
}

.post-date {
    view-transition-name: post-date;
}

.post-reading-time {
    view-transition-name: post-reading-time;
}

.post-author{
    view-transition-name: post-author;
}

.post-description {
    view-transition-name: post-description;
}

#article {
    ul {
        list-style: circle;
    }

    ol {
        list-style: decimal;
    }

    table {
        table-layout: auto;

        thead {

            border-bottom: 1.5px solid rgb(207, 207, 207);
        }

        th {
            text-align: left;
        }

        th,
        td {
            padding-left: 8px;
            padding-right: 8px;
        }

    }

    blockquote {
        @apply bg-gray-200 dark:bg-gray-900 border-l-4 border-l-gray-400 dark:border-l-gray-600 italic rounded-md;
    }

    .toc {
        font-size: 0.9rem;
    }

    .toc-item {
        @apply m-0;
    }

    .expressive-code {
        @apply mx-auto;
        pre {
            @apply max-w-[90vw];
        }
    }

}
