.post-title {
    view-transition-name: post-title;
}

.post-date {
    view-transition-name: post-date;
}

.post-reading-time {
    view-transition-name: post-reading-time;
}

.post-author{
    view-transition-name: post-author;
}

.post-description {
    view-transition-name: post-description;
}

.post-image {
    view-transition-name: post-image;
}

#article {
    ul {
        list-style: circle;
    }

    ol {
        list-style: decimal;
    }

    table {
        table-layout: auto;

        thead {

            border-bottom: 1.5px solid rgb(207, 207, 207);
        }

        th {
            text-align: left;
        }

        th,
        td {
            padding-left: 8px;
            padding-right: 8px;
        }

    }

    blockquote {
        @apply bg-gray-200 dark:bg-gray-900 border-l-4 border-l-gray-400 dark:border-l-gray-600 italic rounded-md;
    }

    .toc {
        font-size: 0.9rem;
    }

    .toc-item {
        @apply m-0;
    }

    .expressive-code {
        @apply mx-auto;
        pre {
            @apply max-w-[90vw];
        }
    }

    img {
        margin-bottom: 0;
        align-self: center;
        justify-self: center;
    }
}


body#me {
    .toc {
        display: none;
    }
}

:root {
  --cursor-size: 26px;
  --cursor-color: rgba(249, 249, 249, 0.85);       /* base */
  --cursor-color-hover: rgba(0, 0, 0, 0.9);  /* hover */
}


:root {
  /* Light mode colors */
  --grad1: #3b82f6; /* azul */
  --grad2: #9333ea; /* morado */
  --shape1: #f59e0b; /* naranja */
  --shape2: #10b981; /* verde */
  --shape3: #ef4444; /* rojo */
}

.dark {
  /* Dark mode colors */
  --grad1: #1d4ed8; /* azul oscuro */
  --grad2: #6d28d9; /* morado oscuro */
  --shape1: #d97706; /* naranja apagado */
  --shape2: #047857; /* verde oscuro */
  --shape3: #b91c1c; /* rojo oscuro */
}
  